body{
    background-color: #306230;
}
#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
#calcContainer{
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: lightgrey;
}
#operators{
    width: 70px;
    height: 300px;
    flex-direction: row;
    
}
.btn{
    font-size: x-large;
    width: 60px;
    height: 60px;
    margin: 5px;
    font-family: 'Press Start 2P', cursive;
    background-color: red;
    border-radius: 50%;
    
}
#display{
    display: flex;
    justify-content: end;
    align-items: center ;
    font-size: 50px;
    border: 3px solid black;
    width: 292px;
    height: 72px;
    background: #9bbc0f;
    font-family: 'Press Start 2P', cursive;
}
.bigBtn{
    font-size: x-large;
    width: 134px;
    height: 60px;
    margin: 5px;
    font-family: 'Press Start 2P', cursive;
    background-color: red;
}

